body {
  font-family: 'Ubuntu Mono', Arial, sans-serif;
  text-align: center;
  padding-top: 30px;
  background-image: url('./background.jpg');
}

canvas {
  background-color: #fff;
  opacity: 0.5;
}

h1 {
  font-size: 48px;
  padding-right: 40px;
  color: #fff;
}

